<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Otsikko</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h1>Drinkkilista:</h1>

        <ol>
            <li th:each="drinkki: ${drinkit}">
                <span th:text="${drinkki.nimi}">drinkin nimi</span> <a th:href="${'/drinkit/' + drinkki.id}">linkki</a>
            </li>
        </ol>

        <p><a href="/lisaa">Lisää drinkki</a></p>


        <br>
        </br>
        <form method="POST" action="/poista">
            Poista Drinkki: <br/>
            <select name="drinkkinen">
                <option th:each="drinkki: ${drinkit}" th:value="${drinkki.id}" th:text="${drinkki.nimi}">
                    drinkki
                </option>
            </select> 
            <input type="submit" value="Poista"/>
            <br/>


        </form>
    </body>
</html>